@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.firstpageanim {
  background: linear-gradient(-45deg, #000000, #1b022d, #3b095d, #531786);
  background-size: 400% 400%;
  animation: gradientBGG 9s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBGG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes float1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-25px, -35px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

  @keyframes float2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(30px, -25px) scale(0.95);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
  }
  .bubble {
   border-radius: 99999px;
   position: absolute;
   opacity: 0.7;
   z-index: 0;
   
   mix-blend-mode: screen;
  }

  .card {
  position: relative;
  width: 51vw;
  height: 51vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding:3rem 1.5rem;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  
  margin: auto;
  width: 52vw;
  height: 52vh;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -1;
  pointer-events: none;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 18px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  width: 100vw;   
  text-align: center;
}

body {
  
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #050a0c, #0f323e, #18414f, #010523);
  background-size: 400% 400%;
  animation: gradientBG 9s ease infinite;
  color: white;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}





.heading {
  font-size: 3rem;
  font-weight: bold;
  
}

.timer {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #e0e0e0;
  margin-bottom: 2rem;
}
.pageanim {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #050a0c, #0f323e, #0b0e4b, #010523);
  background-size: 400% 400%;
  animation: gradientBG 9s ease infinite;
  color: white;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



@layer utilities {
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}
